#title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: gold;
    -fx-font-family: "Georgia, serif";
    -fx-alignment: center;
}

.root {
    -fx-font-family: 'Arial, sans-serif';
    -fx-alignment: center;
    -fx-padding: 20px;
}

.center-container {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 20px;
}

Text {
    -fx-font-size: 16px;
    -fx-fill: rgb(209, 191, 255);
    -fx-font-family: "Palatino, serif";
}

.text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-fill: rgb(182, 208, 255);
    -fx-font-family: "Bookman, serif";
    -fx-alignment: center;
}

Button {
    -fx-padding: 4px 12px;
    -fx-background-color: #0d58cf;
    -fx-text-fill: rgb(182, 208, 255);
    -fx-font-family: "Bookman, serif";
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-alignment: center;
    -fx-pref-width: 230px;
    -fx-pref-height: 35px;
}

Button:hover {
    -fx-background-color: #092666;
}

.text-field,
.password-field {
    -fx-padding: 4px 6px;
    -fx-background-color: #e9effa;
    -fx-border-color: #1d2735;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-family: "Bookman, serif";
    -fx-alignment: center;
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #3b82f6;
    -fx-background-color: #e9effa;
    -fx-font-family: "Bookman, serif";
}

.text-field:invalid,
.password-field:invalid {
    -fx-border-color: #ef4444;
    -fx-font-family: "Bookman, serif";
}

.text-field:disabled,
.password-field:disabled {
    -fx-background-color: #e9effa;
    -fx-border-color: #d1d5db;
    -fx-font-family: "Bookman, serif";
}